* {
    margin: 0;
    padding: 0;
}

.content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.fruit {
    padding: 15px;
    background-color: limegreen;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 10px rgba(58, 107, 230, 0.973);
}

a {
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-size: 20px;
}

.form {
    padding: 15px;
    margin-top: 10px;
    background-color: limegreen;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 10px rgba(58, 107, 230, 0.973);
}